In [7]:
import pymysql
import pandas as pd
import pickle
from sqlalchemy import create_engine

<img src="../img/databases.png">

In [8]:
connection = pymysql.connect(host = 'localhost',
                             user = 'root',
                             password = '',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")

In [ ]:
connection

In [ ]:
cursor = connection.cursor()
query = "show databases;"

#вернул количество строк
print(cursor.execute(query))

result = cursor.fetchall()
#сам результат запроса
print(result)

In [ ]:
query = """
CREATE DATABASE python_module;
"""
cursor.execute(query)

In [ ]:
query = """
USE python_module;
"""
cursor.execute(query)

In [ ]:
query = """
CREATE TABLE test (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `email` varchar(255) COLLATE utf8_bin NOT NULL,
    `password` varchar(255) COLLATE utf8_bin NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
AUTO_INCREMENT=1 ;
"""
cursor.execute(query)

In [ ]:
query = """
INSERT INTO test (`email`, `password`) VALUES ("{0}","{1}")
"""
emails = ['test_' + str(i) + '@ya.ru'for i in range(10)]
passwords = ['very_secret_' + str(i) for i in range(10)]
for email, passw in zip(emails,passwords):
    cursor.execute(query.format(email,passw))
connection.commit()

In [ ]:
connection.commit()

In [ ]:
connection.close()

In [ ]:
with open('df.pickle', 'rb') as handler:
    df = pickle.load(handler)

In [ ]:
df.head()

In [ ]:
#dialect+driver://username:password@host:port/database
engine = create_engine('mysql+pymysql://{0}:{1}@{2}/python_module'.format(User.USER,User.PASSWORD,User.HOST))

In [ ]:
df.to_sql('analytics_data',con = engine,if_exists='append')

In [ ]:
df.info()

In [ ]:
query = """
select
*
from analytics_data
limit 2;
"""
some = pd.read_sql(query,con=engine)

In [ ]:
some

In [ ]:
df.index

In [4]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=database_name;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM database_name.table')

for row in cursor:
    print(row)

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')

In [1]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-8ROLU1V\SQLEXPRESS;'
                      'Database=DataDB4;'
                      'Trusted_Connection=yes;')

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')

In [ ]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [DataDB4].[dbo].[Прайс]')

for row in cursor:
    print(row)

In [11]:
sql_query = pd.read_sql_query('SELECT * FROM [DataDB4].[dbo].[Прайс]',conn)
print(sql_query)
print(type(sql_query))

             Дата               Направление Поднаправление Код услуги  \
0      2020-10-19  Комплексное обследование           None     160014
1      2020-10-19  Комплексное обследование           None     160060
2      2020-10-19  Комплексное обследование           None     160058
3      2020-10-19  Комплексное обследование           None     160059
4      2020-10-19  Комплексное обследование           None     160085
...           ...                       ...            ...        ...
194830 2021-01-18               Лаборатория           None    1820076
194831 2021-01-18               Лаборатория           None    1820079
194832 2021-01-18               Лаборатория           None    1820077
194833 2021-01-18               Лаборатория           None    1820078
194834 2021-01-18               Лаборатория           None    1820075

                                      Наименование услуги Основная категория  \
0       Врач офиса для СК Согласие (прием ВОП в офисе ...         Совкомбанк
1        Комплекс: трепан-биопсия печени под УЗ-контролем         Ренессанс)
2                          Онкоскрининг женщины до 40 лет         СК 1 (Ресо
3                      Онкоскрининг женщины старше 40 лет         СК 1 (Ресо
4                    Комплексное обследование "Хоккеисты"            Помощь)
...                                                   ...                ...
194830                               Алюминий в сыворотке    Наличный расчет
194831                                  Литий в сыворотке    Наличный расчет
194832                                   Хром в сыворотке    Наличный расчет
194833                               Марганец в сыворотке    Наличный расчет
194834                                  Ртуть в сыворотке    Наличный расчет

        Цена услуги            Код (Дата)
0            2000.0   160014 (19.10.2020)
1           30000.0   160060 (19.10.2020)
2            9450.0   160058 (19.10.2020)
3           10600.0   160059 (19.10.2020)
4           13000.0   160085 (19.10.2020)
...             ...                   ...
194830       1200.0  1820076 (18.01.2021)
194831       1200.0  1820079 (18.01.2021)
194832       1200.0  1820077 (18.01.2021)
194833       1200.0  1820078 (18.01.2021)
194834       1200.0  1820075 (18.01.2021)

[194835 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>

In [12]:
sql_query.head()

,Дата,Направление,Поднаправление,Код услуги,Наименование услуги,Основная категория,Цена услуги,Код (Дата)
0,2020-10-19,Комплексное обследование,None,160014,Врач офиса для СК Согласие (прием ВОП в офисе ...,Совкомбанк,2000.0,160014 (19.10.2020)
1,2020-10-19,Комплексное обследование,None,160060,Комплекс: трепан-биопсия печени под УЗ-контролем,Ренессанс),30000.0,160060 (19.10.2020)
2,2020-10-19,Комплексное обследование,None,160058,Онкоскрининг женщины до 40 лет,СК 1 (Ресо,9450.0,160058 (19.10.2020)
3,2020-10-19,Комплексное обследование,None,160059,Онкоскрининг женщины старше 40 лет,СК 1 (Ресо,10600.0,160059 (19.10.2020)
4,2020-10-19,Комплексное обследование,None,160085,"Комплексное обследование ""Хоккеисты""",Помощь),13000.0,160085 (19.10.2020)