<center>
    
## 1.2.  Основы Python

Сейчас существуют две часто используемые версии Питона — **Python 2** и **Python 3**. Эти версии довольно похожи, но есть отличия, из-за которых они **не являются совместимыми** - программы, написанные на одной версии языка, могут не работать в другой.  

В нашем курсе мы будем писать на **Python 3**. Точная версия не принципиальна, но она должна быть >= 3.5  

Если Вы пользуетесь Macbook, то Python скорее всего уже установлен.
Попробуйте в терминале следующие команды для запуска интерактивного режима работы:

`python` или `python3` или `python2`

Выход: `Ctrl+D`

В случае если у нас есть какой-то скрипт(например `main.py`) на `Python`, то его выполнить в терминале командой вида:

`python main.py`

## Общая информация о языке

**Название** - **«Питон» или «Пайтон»** (в честь комедийных серий BBC «Летающий цирк Монти-Пайтона»)  
**Создатель** - **голландец Гвидо ван Россум (Guido van Rossum)** (в 1991 году)  

**Особенности**:  
- интерпретируемый (читается интерпритатором построчно)
- объектно-ориентированный (всё в Python это объект)
- высокоуровневый язык (ближе к человеческому)
- встроенные высокоуровневые структуры данных
- динамическая типизация (не нужно указывать тип данных и в переменную можно переназначать значения с разными типами данных)
- синтаксис прост в изучении
- поддержка модулей и пакетов (большинство библиотек бесплатны)
- универсальный
- интеграция с другими языками (C (Cython), C++, Java (JPython))  

**Стиль оформления кода** - **PEP8** (если Вы хороший человек).  

*Самое главное из PEP8:*  
- отступ – 4 пробела
- длина строки < 80 символов
- переменные: var_recommended NOT VarRecommended
- константы/вводные переменный: CONST_RECOMMENDED (например пути к папкам, которые не меняются)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Типы данных

Типы данных это как кирпички из которых мы будем строить что-то свое и новое.<br>
**Все типы данных** в Python можно разбить на **2 категории**: **изменяемые (mutable)** и **неизменяемые (unmutable)**.   

*Неизменяемые объекты*:  
* числовые данные (int, float), 
* bool (логические значение True/False),
* None,
* символьные строки (class 'str'), 
* кортежи (tuple).  

*Изменяемые объекты*:  
* списки (list), 
* множества (set), 
* словари (dict).

### int (целое число)

In [7]:
x = 10

print(x, '|', type(x))

10 | <class 'int'>

In [8]:
a = 4444 + 5555

b = 4 * 51
c = 5 // 4

print(a, b, c)

9999 204 1

Целочисленное деление через `//`

In [10]:
print( -(5 // 4) )

-1

Деление с остатком через `/`

In [11]:
print( -5 / 4 )

-1.25

In [14]:
x = 5 * 1000000000 * 1000000000 * 10**109 + 1
print(x, '|', type(x))

50000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001 | <class 'int'>

### float (число с плавающей точкой)

In [15]:
y = 12.345

print(y, type(y))

12.345 <class 'float'>

In [18]:
a = 4.2 + 5.1
b = 4.2 * 5.1
c = 5.0 / 4.0

print(a, b, c)

9.3 21.419999999999998 1.25

In [22]:
a = 5
b = 4
print(type(b), float(a) / float(b))

<class 'int'> 1.25

In [20]:
print(a / b)

1.25

### bool

In [26]:
a = True
b = False

print(a, '|', type(a))

print(b, '|', type(b))

True | <class 'bool'>
False | <class 'bool'>

In [27]:
print(a + b)
print(a + a)
print(b + b)

1
2
0

In [28]:
print(int(a), int(b))

1 0

In [31]:
print(True and False, '\n')

print(True or True, '\n')

print(not False, '\n')

False

True

True

### None

In [32]:
z = None
print(z, '|', type(z))

None | <class 'NoneType'>

In [33]:
int(z)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [35]:
if z is None:
    z = 'I am None!'
z

'I am None!'

### str (строка)

В *python 2.7* есть отдельный тип **unicode** с приставкой u. Строки в *python2.7* выглядят так: `u'Маша'`<br> 
В *python 3.5* (и выше) который будем использовать мы всё это включено в тип **str**.

In [36]:
x = "abc"
y = 'xyz'
print(x, '|', type(x))
print(y, '|', type(y))

abc | <class 'str'>
xyz | <class 'str'>

In [39]:
a = 'Андрей'
b = "Михайлович"
s = a + " " + b
print(s)

Андрей Михайлович

In [41]:
print(a.upper())
print(a.lower())

АНДРЕЙ
андрей

In [42]:
print(len(a))

6

In [43]:
print(bool(a))
print(bool("" + ''))

True
False

In [45]:
print(a)
print(a[0])
print(a[1])
print(a[0:3])

Андрей
А
н
Анд

In [46]:
print(a[0:4:2])

Ад

### Метод `split()`:

In [52]:
splitted_line = "Керемет Максим Максимович".split(' ')
print(splitted_line)

['Керемет', 'Максим', 'Максимович']

### tuple (кортеж)

In [57]:
t = ('a', 5, 12.345, 'a')
t

('a', 5, 12.345, 'a')

In [58]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [59]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [61]:
t.index(5)

1

In [62]:
t[2]

12.345

In [63]:
t

('a', 5, 12.345, 'a')

In [64]:
t.count('a')

2

In [67]:
m = (1, 2, 3)
type(m)
t + m

('a', 5, 12.345, 'a', 1, 2, 3)

In [68]:
t - m

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [69]:
len(t)

4

#### Поменять переменные местами

In [70]:
a = -5
b = 100

a, b = b, a

print('a:', a, '\nb:', b)

a: 100
b: -5

### Немного про встроенные функции

В Python есть так называем **магические** (или служебные) методы - они начинаются и заканчиваются на двойное нижнее подчёркивание: \__len\__, \__add\__ ...

In [71]:
__builtin__

Также в Python есть **встроенные** функции и методы, которые являются в некотором смысле универсальными.  
Функция `dir()` выводит список всех атрибутов (имён - методы, функции, классы..), которые есть у модуля/класса/объекта:

Давайте посмотрим на встроенные и служебные имена Python (не все):

In [ ]:
dir(__builtin__)

Это методы, которые уже есть в `Python` без импорт библиотек и могут быть полезными, например как **len()**,**max()**,**min()** и назначение типа данных для  объекта **str()**,**int()**,**float()** и тд. <br>
Однако нужно быть осторожными с ними, например если вы заведете переменную `list`, то убъете встроенный метод и он не будет работать, а чтобы вернуть его к жизни нужно будет выйти из `Jupyter notebook`, закрыть консоль и перезапустить заново.

In [72]:
pow(2,2)

4

### Структуры данных

### list

In [1]:
a = list()
b = []

print(a == b)

True

In [3]:
my_list = ['string', 100, 5.678, None, '33a']
my_list

['string', 100, 5.678, None, '33a']

**Полезно**:<br>
Конструкция `list(range(start, end, step]))`  позволяет получить последовательность (список) целых чисел, начинающуюся со `start`, заканчивающуюся в `end-1` и шагом `step`

In [22]:
array = range(0, 10, 2)
print(array, '|', type(array))

range(0, 10, 2) | <class 'range'>

In [23]:
array = list(array)
print(array, '|', type(array))

[0, 2, 4, 6, 8] | <class 'list'>

In [26]:
array[1]

2

In [27]:
array[-2]

6

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

**Полезно**:<br>
Перевернуть список можно так:

In [37]:
array = array[::-1]
array

[0, 2, 4, 6, 8]

**Полезно**:<br>
Срезы (`slice`'s) - это объекты языка Python, позволяющие получить какую-то часть итерируемого объекта.  
Пример:

In [39]:
foo = list(range(10))
foo

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
foo[:5]

[0, 1, 2, 3, 4]

In [52]:
foo[5:]

[5, 6, 7, 8, 9]

In [89]:
foo[2:5]

[2, 3, 4]

In [53]:
slice_2_5 = slice(2, 5)
print(slice_2_5, '|', type(slice_2_5))

slice(2, 5, None) | <class 'slice'>

In [54]:
foo[slice_2_5]

[2, 3, 4]

**Полезно**:<br>
`S.join(iterable)` - метод, который склеивает возвращает строку, которая является конкатенацией строк из `iterable`. Разделитель между строками - строка `S`

In [58]:
str_array = ['a', 'b', 'c', 'd', 'e']
type(str_array)

list

In [62]:
print('-'.join(str_array))
print(','.join(str_array))

a-b-c-d-e
a,b,c,d,e

**Полезно**:<br>
Списки можно "склеивать":

In [63]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [1]

print(a + b * c)

TypeError: can't multiply sequence by non-int of type 'list'

### Методы класса list

In [64]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

* `L.append(element)` - добавляет элемент `element` в список `L`

In [67]:
l = [5, 4, 3, 2, 1]

l.append('BANG!')
l.append('final element')
l.append(1.1)
print(type(l), l)

<class 'list'> [5, 4, 3, 2, 1, 'BANG!', 'final element', 1.1]

* `sorted(iterable, key)` - возвращает объект, являющийся отсортированной в соответствии с компаратором (по ключу) `key` версией объекта `iterable`. **НЕ изменяет начальный объект!**

In [89]:
l = [5, 4, 3, 2, 1]

print(sorted(l), '|', l)

[1, 2, 3, 4, 5] | [5, 4, 3, 2, 1]

In [71]:
l

[5, 4, 3, 2, 1]

In [82]:
print( l.pop() )
l

3

[5, 4]

In [83]:
print(sorted(l), '|', l)

[4, 5] | [5, 4]

In [124]:
def cmp(string):
    lennn = len(string)
    return lennn

cmp('')
cmp('FFF')

3

Отфильтруемся по длине имени.

In [85]:
names = ['Александр', 'Василий', 'Анастасия', 'Соня', 'Френк', 'Оля']

sorted(names, key=cmp)

['Оля', 'Соня', 'Френк', 'Василий', 'Александр', 'Анастасия']

In [92]:
names = ['Александр', 'Василий', 'Анастасия', 'Соня', 'Френк', 'Оля']
sorted(names, key=lambda x: len(x))

['Оля', 'Соня', 'Френк', 'Василий', 'Александр', 'Анастасия']

* `L.count(element)` - возвращает количество вхождений элемента `element` в список `L`

In [100]:
l = [1, 2, 3, 4, 5, 'python', 6, 7, 8, 9, 10, 10]
l.count(10)

2

In [97]:
l.count('python')

1

In [101]:
len(l)

12

`L.index(element)` - возвращает индекс элемента `element` в списке `L`, если он там присутствует, иначе ошибка.

In [104]:
l.index('python')

5

### Циклы - for и while

In [128]:
models = ['decision tree', 'linear model', 'svm', 'ensemble']
temp_str = ''

for model in models:
    temp_str = temp_str + '=' + model.capitalize()
    print(model)
        
print(temp_str)

decision tree
linear model
svm
ensemble
=Decision tree=Linear model=Svm=Ensemble

In [130]:
x = 100

while x > 50:
    x -= 10
    print(x)

90
80
70
60
50

Прикладной пример - убрать какие либо знаки, буквы и оставить цифры.

In [133]:
s = "Дата заказа:2018-10-14_аорыроарыов"
new_s= '' #создаем новую строку и в нее будем добавлять только те символы, которые удовлетворяют нашим условиям.

for i in s:
    if i.isdigit() == True: # метод .isdigit() проверяет является ли символ цифрой
        new_s +=i # так в цикле добавляет символ и перезаписывается получившаяся строка
    else:
        pass # просто пропускаем символ

In [134]:
new_s

'20181014'

Уже хорошо, но хотелось вы чтоб это выглядело как отформатированная дата. Тут придется забежать в перед и сделать это с помощью библиотеки Pandas.

In [135]:
import pandas as pd
pd.to_datetime(new_s, format="%Y%m%d")

Timestamp('2018-10-14 00:00:00')

### enumerate, zip

In [158]:
first = 'a b c d e f g'.split(' ')
second = '1-2-3-4-5-6-7'.split('-')

print(first)
print(second)

zip(first, second)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['1', '2', '3', '4', '5', '6', '7']

In [159]:
list(zip(first, second))

[('a', '1'),
 ('b', '2'),
 ('c', '3'),
 ('d', '4'),
 ('e', '5'),
 ('f', '6'),
 ('g', '7')]

In [163]:
list(zip(range(0, len(first)), first))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g')]

In [160]:
enum = enumerate(first)
list(enum)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g')]

In [161]:
enum = enumerate(first)
zip_style = zip(range(0, len(first)), first)

print(list(enum) == list(zip_style))

True

### list comprehensions

In [170]:
a = [x for x in range(1, 10, 2)]
a

[1, 3, 5, 7, 9]

In [171]:
def f(x):
    return x ** 2

In [175]:
b = [f(x) for x in range(-5, 6)]
c = [x ** 2 for x in range(-5, 6)]
print(b, '==', c)

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25] == [25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

In [181]:
[x if x in 'aeiou' else '*' for x in 'apple']

['a', '*', '*', '*', 'e']

### functions

In [186]:
def make_coffee(size, sugar_dose=3):
    if sugar_dose > 5:
        return 'Too much sugar! Be careful! :('
    else:
        return 'Done: cup of {0} ml size; amount of sugar = {1}'.format(size, sugar_dose)

In [189]:
def make_coffee(size, sugar_dose=3):
    if sugar_dose > 5:
        return 'Too much sugar! Be careful! :('
    else:
        return 'Done: cup of '+str(size)+' ml size; amount of sugar = '+str(sugar_dose)

In [190]:
make_coffee(100)

'Done: cup of 100 ml size; amount of sugar = 3'

In [184]:
make_coffee(200, 1)

'Done: cup of 200 ml size; amount of sugar = 1'

In [185]:
make_coffee(100, 6)

'Too much sugar! Be careful! :('

### set

In [ ]:
s = set()
s

In [ ]:
dir(s)

In [ ]:
s.add(1)
s.add('a')
s.add(None)
s.add('bullet')
print(s)

In [ ]:
s1 = set(range(0, 10))
s2 = set(range(5, 15))

In [ ]:
print(s1.difference(s2))
print()
print(s2.difference(s1))

In [ ]:
s1.intersection(s2)

In [ ]:
s1.union(s2)

In [ ]:
print('s1: ', s1, '\ns2: ', s2)

### dict

In [ ]:
d = {}
dd = dict()

print(d == dd, '|', type(d))

In [ ]:
dir(dict)

In [ ]:
d['a'] = 100
d

In [ ]:
d = dict([(1, 1), (2, 4)])
d

In [ ]:
d = dict(short='dict', long='dictionary')
d

In [ ]:
print(d.keys())
print(d.values())
print(d.items())

In [ ]:
d.get('short')

### Чтение файлов в Python

In [ ]:
path = '../data/'

1 способ в которм мы открываем файл и читаем его построчно, после чего его **обязательно** нужно закрыть.

In [ ]:
file = open(path+'python_friend.txt', mode='r')
for line in file:
    print(line)
file.close()

Небольшая табличка с обозначениями параметров чтения, которые пригодятся в дальнейшем.

| Режим | Обозначение |
|-------|-------------|
| **'r'**  | Открытие на **чтение** (является значением по умолчанию) |
| **'rb'** | Открытие на **чтение**, в предположении, что будут считываться **байты** |
| **'w'** | Открытие на **запись**, содержимое файла удаляется. Если файла не существует, создается новый |
| **'wb**' | Открытие на **запись байтов**, содержимое файла удаляется. Если файла не существует, создается новый |
| **'a'** | Открытие на **дозапись**, информация добавляется **в конец файла** |
| **'r+'** | Открыть файл на **чтение И запись**. Если файла нет, **новый НЕ создаётся** |
| **'a+'** | Открыть файл на **чтение И запись в конец файла**. Если файла нет, **новый создаётся** |
| **'t'** | Открытие файла **как текстового** (по умолчанию) |

2 способ в котором мы используем опертор _with_. В нем закрывать файл не нужно.

In [ ]:
with open(path+'python_friend.txt', mode='r') as test_file:
    for line in test_file:
        print(line)

### Домашнее задание

1) Загрузите файл `mate.txt` из папки data.

2) Создайте список из 10 имен (с разными длинами очевидно) отсортируйте по убываю длины имени.

3) *Выведите* список из 100 чисел *через запятую*. **Циклами пользоваться нельзя.**

4) Напишите цикл для того чтобы убрать цифры из строки `"Новый год 2022"`

5) Уберите цифры из строки из задания 4 с помощью **.join()** и используйте **list comprehension**

In [191]:
int(-12.12)

-12

In [193]:
def foo(a):
   return a // -11, a % -11

# Тесты
print(foo(22),type(foo(22)))
print(foo(-77))
print(foo(1))

(-2, 0) <class 'tuple'>
(7, 0)
(-1, -10)

In [202]:
def num_sum(a):
   # 1. Определяем принадлежность значения 'a' к целому числу, но не к булеву типу
   if isinstance(a, int) and not isinstance(a, bool):
       # 2. Преобразуем число в положительное, а потом - строку
       a_to_str = str(abs(a)) # '146'
       # 3. Задаем начальную сумму 0
       s = 0
       p = 1
       # 4. В цикле складываем все числа
       for i in a_to_str: # '1', '4', '6'
           s += int(i) # 1 + 4 + 6
           p *= int(i) # 1 + 4 + 6
       return s, p
   return 'Это не целое число'

# Тесты
print(num_sum(-146))
print(num_sum('-11'))
print(num_sum(True))
print(num_sum(-111111111))

(11, 24)
Это не целое число
Это не целое число
(9, 1)

In [204]:
def magic(*args, k):
    # 1. Начальная сумма равна нулю
    sq_sum = 0
    # 2. Складываем квадраты всех аргументов в цикле
    for i in args:
        sq_sum += i ** 2
    # 3. Определяем, равен ли остаток от деления sq_sum на k нулю
    if sq_sum % k == 0:
        return 'Волшебство случается'
    return 'Никакого волшебства'

# Тесты
print(magic(2, 5, 7, k=5))
print(magic(2, 5, 7, k=39))
print(magic(2, 5, 7, k=2))

Никакого волшебства
Волшебство случается
Волшебство случается